@import 'variables';

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

.header {
    display: flex;
    justify-content: space-between;
    color: $main-red-color;
    margin: 50px auto;
    max-width: 1240px;
    &__nav {
        &--link {
            font-weight: 500;
            font-size: 24px;
            text-decoration: none;
            margin-left: 50px;
            &:visited, &:active, &:hover, &:link {
                color: $main-red-color;
            }
            &.active {
                text-decoration: underline;
            }
        }
    }
}

main {
    margin: 0 auto;
    max-width: 1240px;
}

.banner {
    max-width: 1240px;
    width: 100%;
    height: 223px;
    background-position: center -302px;
    background-color: #000;
    border-radius: 25px;
    &__opacity{
        border-radius: 25px;
        background-color: #000;
        height: 153px;
        opacity: 30%;
        padding-top: 70px;
        &--text {
            margin: 0;
            color: #FFFFFF;
            font-weight: 500;
            font-size: 48px;
            line-height: 68.45px;
            text-align: center;
        }
    }
    &.home {
        background-image: url("../assets/banner_home.svg");
    }
    &.about {
        background-image: url("../assets/banner_about.svg");
    }
}

.homePage {
    &__section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        row-gap: 40px;
        column-gap: 40px;
        background-color: $grey;
        border-radius: 25px;
        margin-top: 40px;
        margin-bottom: 50px;
        padding-left: 40px;
        padding-top: 40px;
        height: 770px;
        overflow: scroll;
    }
    &__card {
        padding: 0;
        border-radius: 10px;
        width: 340px;
        height: 340px;
        background-color: red;
        position: relative;
        &--link{
            display: inline-block;
            width: 340px;
            height: 340px;
        }
        &--title{
            position: absolute;
            width: 70%;
            color: $white;
            bottom: 2%;
            left: 4%;
        }
    }
}

.infoGalery {
    position: relative;
    height: 415px;
    width: 1240px;
    overflow: hidden;
    border-radius: 25px;
    &__image{
        position: absolute;
        width: 1240px;
        z-index: 1;
    }
    &__nav{
        position: absolute;
        color: $white;
        z-index: 5;
        top: 36%;
        &.back{
            left: 1%;
        }
        &.forward{
            right: 1%;
        }
        &.number{
            top: 85%;
            left: 50%;
        }
    }
}

.infoLocation {
    display: flex;
    justify-content: space-between;
    color: $main-red-color;
    font-weight: 500;
    margin: 30px 0 25px;
    &__location{
        margin: 0px;
        padding: 0;
        &--title{
            font-size: 36px;
            line-height: 51.34px;
            font-weight: 500;
            margin: 0;
        }
        &--town{
            margin: 0 0 20px;
            font-size: 18px;
            line-height: 25.67px;
            font-weight: 500;
        }
        &--tags{
            border-radius: 10px;
            color: $white;
            background-color: $main-red-color;
            font-size: 14px;
            line-height: 25px;
            display: inline-block;
            min-width: 115px;
            height: 25px;
            text-align: center;
            margin: 0 10px 0 0;
            font-weight: 500;
            padding: 1px 22px;
        }
    }
    &__identity{
        display: flex;
        flex-direction: column;
        &--info{
            display: flex;
        }
        &--name{
            display: inline-block;
            width: 110px;
            text-align: right;
            margin: 0;
            padding-top: 10px;
        }
        &--picture{
            display: inline-block;
            width: 64px;
            height: 64px;
            border-radius: 32px;
            margin-left: 20px;
        }
        &--rating{
            text-align: right;
            margin-top: 20px;
            & svg{
                margin-left: 15px;
            }
        }
    }
}

.infoComplementaire {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    & .collapseDiv{
        width: 45%;
    }
}

.aboutPage {
    & .banner{
        margin-bottom: 40px;
    }
    & .collapseDiv{
        margin: 30px auto 0;
        width: 80%;
    }
}


.collapseDiv{
    height: auto;
    background-color: $grey;
    border-radius: 10px 10px 5px 5px;
    &__title{
        border-radius: 5px;
        padding: 10px 20px 10px 10px;
        background-color: $main-red-color;
        margin: 0;
        color: $white;
        font-weight: 500;
        font-size: 18px;
        line-height: 25.67px;
    }
    &__content{
        color: $main-red-color;
        padding: 30px 20px;
        & p{
            margin: 0;
            font-weight: 400;
            font-size: 18px;
            line-height: 25.67px;
        }
    }
}

.footer {
    color: $white;
    background-color: $black;
    height: 209px;
    width: 100%;
    position: relative;
    margin-top: 50px;
    &__logo {
        width: 122px;
        margin: 50px 45% 0px;
    }
    &__text{
        margin: 10px 32% 0px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34.22px;
        text-align: center;
    }
}