html, body, #root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat";
  font-weight: 500;
}

#root {
  display: flex;
  flex-direction: column;
}

.mainBody {
  max-width: 1240px;
  width: 100%;
  margin: 0 auto;
}

.header {
  display: flex;
  justify-content: space-between;
  color: #FF6060;
  margin: 50px 0;
  width: 100%;
  max-width: 1240px;
}
.header__nav--link {
  font-size: 24px;
  text-decoration: none;
  margin-left: 50px;
}
.header__nav--link:visited, .header__nav--link:active, .header__nav--link:hover, .header__nav--link:link {
  color: #FF6060;
}
.header__nav--link.active {
  text-decoration: underline;
}

main {
  margin: 0 0 50px;
  width: 100%;
  max-width: 1240px;
}

.banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  background-position: center -302px;
  background-color: #000;
  border-radius: 25px;
  position: relative;
}
.banner__opacity {
  border-radius: 25px;
  background-color: #000;
  width: 100%;
  height: 100%;
  opacity: 30%;
  position: absolute;
}
.banner__text {
  display: inline-block;
  margin: 0;
  color: #FFFFFF;
  font-size: 48px;
  line-height: 68.45px;
  text-align: center;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 710px;
}
.banner.home {
  background-image: url("../assets/banner_home.svg");
}
.banner.about {
  background-image: url("../assets/banner_about.svg");
}

.homePage__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 40px 0;
}
.homePage__card {
  padding: 0;
  border-radius: 10px;
  width: 340px;
  height: 340px;
  margin: 20px 10px;
  position: relative;
  background-position: center;
}
.homePage__card--link {
  display: inline-block;
  width: 340px;
  height: 340px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 10px;
}
.homePage__card--title {
  position: absolute;
  width: 70%;
  color: #FFFFFF;
  bottom: 2%;
  left: 4%;
  font-size: 18px;
}

.infoGalery {
  position: relative;
  height: 415px;
  width: 100%;
  max-width: 1240px;
  border-radius: 25px;
  background-position: center;
}
.infoGalery__shadow {
  position: absolute;
  width: 100%;
  max-width: 1240px;
  height: 415px;
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
  border-radius: 25px;
}
.infoGalery__nav {
  position: absolute;
  color: #FFFFFF;
  z-index: 5;
  top: 36%;
}
.infoGalery__nav.back {
  left: 1%;
}
.infoGalery__nav.forward {
  right: 1%;
}
.infoGalery__nav.number {
  top: 85%;
  left: 50%;
}

.infoLocation {
  display: flex;
  justify-content: space-between;
  color: #FF6060;
  margin: 30px 0 25px;
}
.infoLocation__location {
  margin: 0px;
  padding: 0;
}
.infoLocation__location--title {
  font-size: 36px;
  line-height: 51.34px;
  margin: 0;
}
.infoLocation__location--town {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 25.67px;
}
.infoLocation__location--tags {
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #FF6060;
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
  min-width: 115px;
  height: 25px;
  text-align: center;
  margin: 0 10px 10px 0;
  padding: 1px 22px;
}
.infoLocation__identity {
  display: flex;
  flex-direction: column;
  min-width: 220px;
}
.infoLocation__identity--info {
  display: flex;
  justify-content: flex-end;
}
.infoLocation__identity--name {
  display: inline-block;
  width: 110px;
  text-align: right;
  margin: 0;
  padding-top: 10px;
}
.infoLocation__identity--picture {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-left: 20px;
}
.infoLocation__identity--rating {
  text-align: right;
  margin-top: 20px;
}
.infoLocation__identity--rating svg {
  margin-left: 15px;
}

.infoComplementaire .collapseDiv {
  width: 45%;
  display: inline-block;
  vertical-align: top;
}
.infoComplementaire .collapseDiv:first-child {
  margin-right: 124px;
}

.aboutPage .banner {
  margin-bottom: 40px;
}
.aboutPage .collapseDiv {
  margin: 30px auto 0;
  width: 80%;
}

.collapseDiv {
  height: auto;
  background-color: #F6F6F6;
  border-radius: 10px 10px 5px 5px;
  position: relative;
}
.collapseDiv__title {
  border-radius: 5px;
  padding: 10px 20px 10px 10px;
  background-color: #FF6060;
  margin: 0;
  color: #FFFFFF;
  font-size: 18px;
  line-height: 25.67px;
}
.collapseDiv__move {
  position: relative;
}
.collapseDiv__move .invisible {
  display: none;
}
.collapseDiv__move--arrow {
  position: absolute;
  right: 20px;
  top: -40px;
}
.collapseDiv__move--content {
  color: #FF6060;
  padding: 0;
  overflow: hidden;
  margin: 0px 20px;
  max-height: 0px;
  transition: max-height 0.5s ease-in;
}
input[id*=checks]:checked ~ .collapseDiv__move--content {
  max-height: 500px;
}
input[id*=checks] ~ .collapseDiv__move--arrow svg {
  transition: all ease-in-out 0.5s;
}
input[id*=checks]:checked ~ .collapseDiv__move--arrow svg {
  transform: rotate(-180deg);
}

.errorPage {
  color: #FF6060;
  text-align: center;
  margin-bottom: 140px;
}
.errorPage__title {
  font-weight: 700;
  font-size: 288px;
  line-height: 410.69px;
  margin: 50px 0 70px;
}
.errorPage__text {
  font-size: 36px;
  line-height: 51.34px;
  margin-bottom: 140px;
}
.errorPage__link {
  font-size: 18px;
  line-height: 25.67px;
}
.errorPage__link:visited, .errorPage__link:active, .errorPage__link:hover, .errorPage__link:link {
  color: #FF6060;
}

.footer {
  color: #FFFFFF;
  background-color: #000000;
  height: 209px;
  width: 100%;
  position: relative;
  margin-top: auto;
}
.footer__logo {
  display: block;
  width: 122px;
  margin: 0px auto;
  padding-top: 62px;
}
.footer__text {
  margin-top: 10px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34.22px;
  text-align: center;
}

@media (max-width: 1239px) {
  .mainBody {
    width: 95%;
  }
  .errorPage__title {
    font-size: 200px;
    margin: 30px 0;
    line-height: 300px;
  }
  .errorPage__text {
    font-size: 30px;
    margin-bottom: 100px;
  }
  .infoComplementaire .collapseDiv:first-child {
    margin-right: 8.6vw;
  }
  .footer__logo {
    padding-top: 5%;
  }
}
@media (min-width: 769px) and (max-width: 991px) {
  .homePage__section {
    background-color: #FFFFFF;
  }
  .errorPage__title {
    font-size: 180px;
    margin: 20px 0;
    line-height: 250px;
  }
  .errorPage__text {
    font-size: 26px;
    margin-bottom: 100px;
    line-height: 32px;
  }
}
@media (max-width: 768px) {
  .header {
    margin: 10px 0;
  }
  .header__logo svg {
    width: 145px;
  }
  .header__nav--link {
    font-size: 12px;
    line-height: 17.11px;
    margin-left: 20px;
  }
  .banner {
    height: 111px;
    background-size: 100%;
  }
  .banner__text {
    text-align: left;
    top: 25%;
    left: 20px;
    width: 260px;
    font-size: 24px;
    line-height: 24px;
    transform: none;
  }
  .homePage__section {
    background-color: #FFFFFF;
    margin-top: 0;
  }
  .homePage__card {
    width: 335px;
  }
  .homePage__card--link {
    width: 335px;
  }
  .homePage__card--title {
    bottom: 1%;
  }
  .infoGalery {
    height: 200px;
    background-size: 200%;
  }
  .infoGalery__shadow {
    background: none;
  }
  .infoGalery__nav.forward, .infoGalery__nav.back {
    width: 24px;
  }
  .infoGalery__nav.number {
    display: none;
  }
  .infoLocation {
    flex-direction: column;
  }
  .infoLocation__location--title {
    font-size: 18px;
  }
  .infoLocation__location--town {
    font-size: 14px;
  }
  .infoLocation__location--tags {
    font-size: 10px;
    min-width: 84px;
    height: 16px;
    line-height: 14px;
    padding: 4px 22px 0px;
  }
  .infoLocation__identity {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .infoLocation__identity--rating svg {
    width: 18px;
  }
  .infoLocation__identity--name {
    font-size: 12px;
  }
  .infoLocation__identity--picture {
    width: 32px;
    height: 32px;
  }
  .infoComplementaire .collapseDiv {
    width: 100%;
  }
  .infoComplementaire .collapseDiv:first-child {
    margin: 0;
  }
  .infoComplementaire .collapseDiv:last-child {
    margin-top: 30px;
  }
  .errorPage__title {
    font-size: 96px;
    margin: 20px 0;
    line-height: 140px;
  }
  .errorPage__text {
    font-size: 18px;
    margin-bottom: 100px;
    line-height: 25px;
  }
  .errorPage__link {
    font-size: 14px;
    line-height: 20px;
  }
  .aboutPage .collapseDiv {
    width: 100%;
  }
  .footer {
    padding: 60px 0;
    height: auto;
  }
  .footer__logo {
    padding-top: 0;
  }
  .footer__text {
    font-size: 12px;
    line-height: 17.11px;
    margin: 10px auto 0;
    width: 133px;
  }
}/*# sourceMappingURL=style.css.map */