body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat";
}

.header {
  display: flex;
  justify-content: space-between;
  color: #FF6060;
  margin: 50px auto;
  max-width: 1240px;
}
.header__nav--link {
  font-weight: 500;
  font-size: 24px;
  text-decoration: none;
  margin-left: 50px;
}
.header__nav--link:visited, .header__nav--link:active, .header__nav--link:hover, .header__nav--link:link {
  color: #FF6060;
}
.header__nav--link.active {
  text-decoration: underline;
}

main {
  margin: 0 auto;
  max-width: 1240px;
}

.banner {
  max-width: 1240px;
  width: 100%;
  height: 223px;
  background-position: center -302px;
  background-color: #000;
  border-radius: 25px;
}
.banner__opacity {
  border-radius: 25px;
  background-color: #000;
  height: 153px;
  opacity: 30%;
  padding-top: 70px;
}
.banner__opacity--text {
  margin: 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 48px;
  line-height: 68.45px;
  text-align: center;
}
.banner.home {
  background-image: url("../assets/banner_home.svg");
}
.banner.about {
  background-image: url("../assets/banner_about.svg");
}

.homePage__section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  row-gap: 40px;
  column-gap: 40px;
  background-color: #F6F6F6;
  border-radius: 25px;
  margin-top: 40px;
  margin-bottom: 50px;
  padding-left: 40px;
  padding-top: 40px;
  height: 770px;
  overflow: scroll;
}
.homePage__card {
  padding: 0;
  border-radius: 10px;
  width: 340px;
  height: 340px;
  background-color: red;
  position: relative;
}
.homePage__card--link {
  display: inline-block;
  width: 340px;
  height: 340px;
}
.homePage__card--title {
  position: absolute;
  width: 70%;
  color: #FFFFFF;
  bottom: 2%;
  left: 4%;
}

.infoGalery {
  position: relative;
  height: 415px;
  width: 1240px;
  overflow: hidden;
  border-radius: 25px;
}
.infoGalery__image {
  position: absolute;
  width: 1240px;
  z-index: 1;
}
.infoGalery__nav {
  position: absolute;
  color: #FFFFFF;
  z-index: 5;
  top: 36%;
}
.infoGalery__nav.back {
  left: 1%;
}
.infoGalery__nav.forward {
  right: 1%;
}
.infoGalery__nav.number {
  top: 85%;
  left: 50%;
}

.infoLocation {
  display: flex;
  justify-content: space-between;
  color: #FF6060;
  font-weight: 500;
  margin: 30px 0 25px;
}
.infoLocation__location {
  margin: 0px;
  padding: 0;
}
.infoLocation__location--title {
  font-size: 36px;
  line-height: 51.34px;
  font-weight: 500;
  margin: 0;
}
.infoLocation__location--town {
  margin: 0 0 20px;
  font-size: 18px;
  line-height: 25.67px;
  font-weight: 500;
}
.infoLocation__location--tags {
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #FF6060;
  font-size: 14px;
  line-height: 25px;
  display: inline-block;
  min-width: 115px;
  height: 25px;
  text-align: center;
  margin: 0 10px 0 0;
  font-weight: 500;
  padding: 1px 22px;
}
.infoLocation__identity {
  display: flex;
  flex-direction: column;
}
.infoLocation__identity--info {
  display: flex;
}
.infoLocation__identity--name {
  display: inline-block;
  width: 110px;
  text-align: right;
  margin: 0;
  padding-top: 10px;
}
.infoLocation__identity--picture {
  display: inline-block;
  width: 64px;
  height: 64px;
  border-radius: 32px;
  margin-left: 20px;
}
.infoLocation__identity--rating {
  text-align: right;
  margin-top: 20px;
}
.infoLocation__identity--rating svg {
  margin-left: 15px;
}

.infoComplementaire {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.infoComplementaire .collapseDiv {
  width: 45%;
  height: auto;
  background-color: #F6F6F6;
  border-radius: 10px 10px 5px 5px;
}
.infoComplementaire .collapseDiv__title {
  border-radius: 5px;
  padding: 10px 20px 10px 10px;
  background-color: #FF6060;
  margin: 0;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 25.67px;
}
.infoComplementaire .collapseDiv__content {
  color: #FF6060;
  padding: 30px 20px;
}
.infoComplementaire .collapseDiv__content p {
  margin: 0;
  font-weight: 400;
  font-size: 18px;
  line-height: 25.67px;
}

.footer {
  color: #FFFFFF;
  background-color: #000000;
  height: 209px;
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.footer__logo {
  width: 122px;
  margin: 50px 45% 0px;
}
.footer__text {
  margin: 10px 32% 0px;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 34.22px;
  text-align: center;
}/*# sourceMappingURL=style.css.map */