@import 'partials/variables';

html, body, #root{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
    font-weight: 500;
}

#root{
    display: flex;
    flex-direction: column;
}

.mainBody{
    max-width: 1240px;
    width: 100%;
    margin: 0 auto;
}

.header {
    display: flex;
    justify-content: space-between;
    color: $main-red-color;
    margin: 50px 0;
    width: 100%;
    max-width: 1240px;
    &__nav {
        &--link {
            font-size: 24px;
            text-decoration: none;
            margin-left: 50px;
            &:visited, &:active, &:hover, &:link {
                color: $main-red-color;
            }
            &.active {
                text-decoration: underline;
            }
        }
    }
}

main {
    margin: 0 0 50px;
    width: 100%;
    max-width: 1240px;
}

.banner {
    max-width: 1240px;
    width: 100%;
    height: 223px;
    background-position: center -302px;
    background-color: #000;
    border-radius: 25px;
    position: relative;
    &__opacity{
        border-radius: 25px;
        background-color: #000;
        width: 100%;
        height: 100%;
        opacity: 30%;
        position: absolute;
    }
    &__text {
        display: inline-block;
        margin: 0;
        color: #FFFFFF;
        font-size: 48px;
        line-height: 68.45px;
        text-align: center;
        position: absolute;
        top: 35%;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        max-width: 710px;
    }
    &.home {
        background-image: url("../assets/banner_home.svg");
    }
    &.about {
        background-image: url("../assets/banner_about.svg");
    }
}

.homePage {
    &__section{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        background-color: $grey;
        border-radius: 25px;
        margin-top: 40px;
        margin-bottom: 50px;
        padding: 40px 0;
    }
    &__card {
        padding: 0;
        border-radius: 10px;
        width: 340px;
        height: 340px;
        margin: 20px 10px;
        position: relative;
        background-position: center;
        &--link{
            display: inline-block;
            width: 340px;
            height: 340px;
            background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
            border-radius: 10px;
        }
        &--title{
            position: absolute;
            width: 70%;
            color: $white;
            bottom: 2%;
            left: 4%;
            font-size: 18px;
        }
    }
}

.infoGalery {
    position: relative;
    height: 415px;
    width: 100%;
    max-width: 1240px;
    border-radius: 25px;
    background-position: center;
    &__shadow{
        position: absolute;
        width: 100%;
        max-width: 1240px;
        height: 415px;
        background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.5) 100%);
        border-radius: 25px;
    }
    &__nav{
        position: absolute;
        color: $white;
        z-index: 5;
        top: 36%;
        &.back{
            left: 1%;
        }
        &.forward{
            right: 1%;
        }
        &.number{
            top: 85%;
            left: 50%;
        }
    }
}

.infoLocation {
    display: flex;
    justify-content: space-between;
    color: $main-red-color;
    margin: 30px 0 25px;
    &__location{
        margin: 0px;
        padding: 0;
        &--title{
            font-size: 36px;
            line-height: 51.34px;
            margin: 0;
        }
        &--town{
            margin: 0 0 20px;
            font-size: 18px;
            line-height: 25.67px;
        }
        &--tags{
            border-radius: 10px;
            color: $white;
            background-color: $main-red-color;
            font-size: 14px;
            line-height: 25px;
            display: inline-block;
            min-width: 115px;
            height: 25px;
            text-align: center;
            margin: 0 10px 10px 0;
            padding: 1px 22px;
        }
    }
    &__identity{
        display: flex;
        flex-direction: column;
        min-width: 220px;
        &--info{
            display: flex;
            justify-content: flex-end;
        }
        &--name{
            display: inline-block;
            width: 110px;
            text-align: right;
            margin: 0;
            padding-top: 10px;
        }
        &--picture{
            display: inline-block;
            width: 64px;
            height: 64px;
            border-radius: 32px;
            margin-left: 20px;
        }
        &--rating{
            text-align: right;
            margin-top: 20px;
            & svg{
                margin-left: 15px;
            }
        }
    }
}

.infoComplementaire {
    & .collapseDiv{
        width: 45%;
        display: inline-block;
        vertical-align: top;
        &:first-child{
            margin-right: 124px;
        }
    }
}

.aboutPage {
    & .banner{
        margin-bottom: 40px;
    }
    & .collapseDiv{
        margin: 30px auto 0;
        width: 80%;
    }
}


.collapseDiv{
    height: auto;
    background-color: $grey;
    border-radius: 10px 10px 5px 5px;
    position: relative;
    &__title{
        border-radius: 5px;
        padding: 10px 20px 10px 10px;
        background-color: $main-red-color;
        margin: 0;
        color: $white;
        font-size: 18px;
        line-height: 25.67px;
    }
    &__move{
        position: relative;
        & .invisible{
            display: none;
        }
        &--arrow{
            position: absolute;
            right: 20px;
            top: -40px;
        }
        
        &--content{
            color: $main-red-color;
            padding: 0;
            overflow: hidden;
            margin: 0px 20px;
            max-height: 0px;
            transition:  max-height 0.5s ease-in;
        }
        input[id*=checks]:checked ~ &--content{
            max-height: 500px;
        }
        input[id*=checks] ~ &--arrow svg{
            transition: all ease-in-out 0.5s;
        }
        input[id*=checks]:checked ~ &--arrow svg{
            transform: rotate(-180deg);
        }
    }
}

.errorPage{
    color: $main-red-color;
    text-align: center;
    margin-bottom: 140px;
    &__title{
        font-weight: 700;
        font-size: 288px;
        line-height: 410.69px;
        margin: 50px 0 70px;
    }
    &__text{
        font-size: 36px;
        line-height: 51.34px;
        margin-bottom: 140px;
    }
    &__link{
        font-size: 18px;
        line-height: 25.67px;
        &:visited, &:active, &:hover, &:link{
            color: $main-red-color;
        }
    }
}

.footer {
    color: $white;
    background-color: $black;
    height: 209px;
    width: 100%;
    position: relative;
    margin-top: auto;
    &__logo {
        display: block;
        width: 122px;
        margin: 0px auto;
        padding-top: 62px;
    }
    &__text{
        margin-top: 10px;
        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 34.22px;
        text-align: center;
    }
}

@import 'partials/rwd-desktop';
@import 'partials/rwd-tablette';
@import 'partials/rwd-mobile';