@media (max-width: 1239px) {
    .mainBody{
        width: 95%;
    }

    .errorPage{
        &__title{
            font-size: 200px;
            margin: 30px 0;
            line-height: 300px;
        }
        &__text{
            font-size: 30px;
            margin-bottom: 100px;
        }
    }
    .infoComplementaire .collapseDiv:first-child{
        margin-right: 8.6vw;
    }
    .footer__logo{
        padding-top: 5%;
    }
}